*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#ffd6e7;

color:#c1121f;

font-family:Arial, sans-serif;

scroll-behavior:smooth;

}

/* NAVBAR */

nav{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

padding:25px 60px;

background:rgba(255,214,231,0.85);

backdrop-filter:blur(10px);

z-index:100;

}

nav h1{

font-size:28px;

}

ul{

display:flex;

gap:30px;

list-style:none;

}

a{

text-decoration:none;

color:#c1121f;

font-weight:bold;

}

/* HERO */

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h2{

font-size:70px;

margin-bottom:20px;

}

.hero p{

font-size:24px;

}

/* SECTION */

section{

padding:140px 10%;

}

section h2{

font-size:40px;

margin-bottom:30px;

}

/* CARDS */

.card{

background:#ffe5ef;

padding:30px;

border-radius:25px;

box-shadow:0 8px 30px rgba(0,0,0,0.1);

transition:0.3s;

}

.card:hover{

transform:translateY(-10px);

}

/* MOBILE */

@media(max-width:700px){

nav{

padding:20px;

}

.hero h2{

font-size:45px;

}

}